@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

:root {
  --primary-color: #0a192f; 
  --font-primary: 'Poppins', sans-serif;
  --transition-time: 0.3s;
  --text-color: #FFFFFF; 
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  font-family: var(--font-primary);
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer {
  background: var(--primary-color);
  color: var(--text-color);
  text-align: center;
  padding: 15px 0;
  width: 100%;
  box-shadow: 0px -5px 15px rgba(0, 0, 0, 0.1);
  font-family: var(--font-primary);
  position: relative;
}

footer p {
  margin: 0;
  font-size: 0.9em;
  color: #FFFFFF;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-wrapper {
  position: relative;
  width: 300px;
  height: 400px;
  perspective: 1000px;
}

.card {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  background: linear-gradient(to bottom right, #fff, #f9f9f9);
  transform-style: preserve-3d;
  transition: transform 0.1s;
  margin-top: 20px;
}

.card-content p {
  font-size: 14px; 
  text-align: justify;
}

.github-button {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 40px;
  height: 40px;
  background: #f0f0f0;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: translateZ(50px);
  font-size: 20px;
  color: #333;
  cursor: pointer;
  border: none;
  outline: none;
  z-index: 5;
}

.github-button:focus {
  outline: none;
}

.github-button i {
  pointer-events: none;
}

.card-content {
  padding: 10px;
  text-align: center;
  transform: translateZ(50px);
  margin-top: -20px;
}

.main-image {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: calc(50% - 40px);
  border-radius: 0 0 15px 15px;
  background-size: cover;
  background-position: center;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  transform: translateZ(20px);
}

.side-image {
  position: absolute;
  top: 50%;
  width: 100px;
  height: 210px;
  border-radius: 10px;
  background-color: #44bba4;
  background-size: cover;
  background-position: center;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  opacity: 0;
  transition: opacity 0.2s ease, transform 0.2s ease;
  transform-style: preserve-3d;
  transform: translateY(-50%);
}

.side-image-left {
  left: -30px;
  transform: rotateY(-45deg) translateZ(50px) translateX(-120px);
}

.side-image-right {
  right: -30px;
  transform: rotateY(45deg) translateZ(50px) translateX(120px);
}

.card-wrapper:hover .side-image-left {
  opacity: 1;
  transform: rotateY(-45deg) translateZ(50px) translateX(-60px);
}

.card-wrapper:hover .side-image-right {
  opacity: 1;
  transform: rotateY(45deg) translateZ(50px) translateX(60px);
}

@media (max-width: 768px) {
  .card-content p {
    font-size: 0.8em; 
  }
  .card-wrapper {
    width: 80%;
    height: auto;
  }
  .card {
    width: auto;
    height: 400px;
    margin-right: 0px;
  }

  .card-content {
    padding: 10px;
  }
  .side-image-left {
    left: 30px;
    transform: rotateY(-45deg) translateZ(50px) translateX(-120px);
  }
  
  .side-image-right {
    right: 30px;
    transform: rotateY(45deg) translateZ(50px) translateX(120px);
  }
  .card-wrapper:hover .side-image-left {
    opacity: 1;
    transform: rotateY(-45deg) translateZ(50px) translateX(-60px);
  }
  
  .card-wrapper:hover .side-image-right {
    opacity: 1;
    transform: rotateY(45deg) translateZ(50px) translateX(60px);
  }
}

